doctype html5
html
    head
        title roberto
        meta(charset="utf-8")
        link(rel="stylesheet" href="../css/style.css")
    body
        p(align="center") bienvenidos al mundo css
        p(align="center") roberto  paredes chistama

        center
            div(align="center") Hola programadores jade

            .div_border
            .div_marpad
                h3.
                   hola marco roberto
                
            .div_medida
            br
            br
            br
            br
