<!DOCTYPE html5>
<html>
  <head>
    <title>roberto</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="../css/style.css"/>
  </head>
  <body>
    <p align="center">bienvenidos al mundo css</p>
    <p align="center">roberto  paredes chistama</p>
    <center>
      <div align="center">Hola programadores jade</div>
      <div class="div_border"></div>
      <div class="div_marpad">
        <h3>
          hola marco roberto
          
        </h3>
      </div>
      <div class="div_medida"></div><br/><br/><br/><br/>
    </center>
  </body>
</html>